.bg {
    background-image: url("/projects/to-do-list/images/bg.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    position: fixed;
}

html {
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: black;
}