.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-row {
  display: flex;
}

.game-block {
  width: 30px; /* Adjust width to make blocks thinner */
  height: 30px; /* Adjust height to match width */
  border: 1px solid #ddd;
  background-color: #fff;
  border: solid rgb(39, 39, 39) 0.1px;
  border-radius: 3px;
}

.main-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 45dvh;
  height: 85dvh;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-block {
  width: 25dvh;
  height: 85dvh;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  align-self: start;
  margin-top: 7.5dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.next-title {
  margin: 5px;
  font-weight: bold;
  font-size: large;
  display: inline;
  height: 20px;
}

.next-title-bg {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
  margin: 4px 5px 3px 3px;
  border-radius: 10px;
}

.next-block-queue {
  width: 95%;
  height: 93%;
  margin: 5px 0px 3px 0px;
  margin-left: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.tetris-container {
  display: flex;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  margin-right: 20px;
}

.game-row {
  display: flex;
}

.game-block {
  width: 20px; /* Adjust width to make blocks thinner */
  height: 20px; /* Adjust height to match width */
  border: 1px solid #ddd;
  background-color: #fff;
}

.queue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #333;
  padding: 10px;
  border-radius: 10px;
}

.queue-item {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
