.moon {
    position: absolute;
    top: 25px;
    right: 130vh;
    height: 25%;
}

.tree {
    top: 35px;
    height: 100%;
    position: absolute;
}

.tree-div {
    position: absolute;
}

.welcomeText {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10dvh;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.vignette {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 100px 10px #000;
    overflow: hidden;
    z-index: 9;
}