@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
:root {
  background-color: rgb(19, 19, 19);
}

#sidebar-category:hover #sidebar-category-info {
  opacity: 1;
  left: 6rem;
  transition: opacity 0.35s;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
