@tailwind base;
@tailwind components;
@tailwind utilities;

#wishlist-div-icon:hover #wishlist-icon {
  color: rgb(100 116 139);
}
#cart-div-icon:hover #cart-icon {
  color: rgb(100 116 139);
}

#product-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#add-to-cart:hover ~ #add-to-wishlist {
  background-color: #475569;
}
